debug = false
logLevel = "ERROR"
defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[retry]

[web]
address = ":8080"
[web.auth.basic]
users = ["admin:$apr1$1syeTmzj$R08TkQS.JgEw0PbMCFYcC/"]

[docker]
domain = "localhost"
exposedbydefault = false
watch = true

[acme]
email = "info@email.it"
storage = "acme.json"
entryPoint = "https"
OnHostRule = true
[acme.httpChallenge]
entryPoint = "http"
